doctype html(lang='en')
head
  meta(charset='UTF-8')
  title Commodity Inventory
  link(rel='stylesheet', href='./style.css')
body
// partial:index.partial.html
.count
  .minus -
  .num 12
  .add +
  .text 警示訊息
  .fill_stock ☎ 請點此連絡廠商預約存貨
// partial
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='./script.js')
